body {
    background-color: #303030;
}

canvas {
  position: absolute;
}
h3{
  color:#EFD0CA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center
}
#startBtn{
  background-color: #303030;
  border: 0;
}
#shareBtn{
  background-image: url(icons/share.png);
  background-color: #303030;
  border: 0;
  height: 43px;
  width: 43px;
  position: absolute;
  display: flex;
  justify-content: left;
}
button:hover{
  cursor: pointer;
  background-color: grey;
  border-radius: 3px;
}
div {
  color: #EFD0CA;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: right;
}